<div class="container pt-5">
  <div class="row w-100 justify-content-center">
    <div class="col-10">
      <div class="mb-3">
        <i class="fa-solid fa-arrow-left-long"></i> <span class="ms-2">Homestay</span>
      </div>
      <div class="card-header border-0">
        <h1 class="">Homestay Name</h1>
        <i class="fa-solid fa-location-dot"></i>
        <span class="ms-2">17 Phan Van Tri, Vũng Tàu, Việt Nam</span>
      </div>
      <!-- Image -->
      <div class="card my-3">
        <mat-grid-list cols="6" rowHeight="150px" class="mb-2">
          <mat-grid-tile [colspan]="4" [rowspan]="2">
            <div class="w-100 h-100 pe-2">
              <div class="w-100 h-100" style="
            background-image: url('/assets/images/image-1.jpeg'); background-size: cover;
            background-position: center; "></div>
            </div>

          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="w-100 h-100 pb-1">
              <div class="w-100 h-100" style="
            background-image: url('/assets/images/image-1.jpeg'); background-size: cover;
            background-position: center; "></div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="w-100 h-100 pt-1">
              <div class="w-100 h-100" style="
            background-image: url('/assets/images/image-1.jpeg'); background-size: cover;
            background-position: center; "></div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <div class="row w-100 m-0 ">
          <div class="col-3 p-0">
            <div class="w-100 pe-1"><img src="/assets/images/image-1.jpeg" alt="" class=" img-fluid"></div>
          </div>
          <div class="col-3 p-0">
            <div class="w-100 pe-1"><img src="/assets/images/image-1.jpeg" alt="" class=" img-fluid"></div>
          </div>
          <div class="col-3 p-0">
            <div class="w-100 pe-1"><img src="/assets/images/image-1.jpeg" alt="" class=" img-fluid"></div>
          </div>
          <div class="col-3 p-0">
            <div class="w-100 "><img src="/assets/images/image-1.jpeg" alt="" class=" img-fluid"></div>
          </div>

        </div>
      </div>
      <!-- Basic information  -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Basic Information</h4>
              </div>
              <div class="col-4 m-0 p-0">
                <div class="d-flex flex-row justify-content-end ">
                  <button  mat-stroked-button class="border border-warning me-2">Edit</button>
                  <button mat-stroked-button class="border border-success">Edit All</button>
                </div>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col-9 m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <span class="text-muted text-uppercase fs-7 text-break text-wrap">homestay name</span>
                      </div>
                      <div class="col-9">
                        <span> Hoemstay Qaung</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="row w-100 m-0 p-0">
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Available Rooms</span>
                      </div>
                      <div class="col-6">
                        <span> 20</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Room Capacity</span>
                      </div>
                      <div class="col-6">
                        <span> 10</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <span class="text-muted text-uppercase">address</span>
                      </div>
                      <div class="col-9">
                        <span> 123 quang trung nguyen hue quang trung nguyen hue quang trung nguyen hue quang trung
                          nguyen hue</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3 m-0 p-0">
                <div class="w-100 overflow-hidden">
                  <span class="text-muted text-uppercase">Homestay License</span>
                  <img src="/assets/images/image-1.jpeg" class="img-fuild w-100 h-100 mt-2" style="object-fit: cover;">
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
      <!-- Price  -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Price</h4>
              </div>
              <div class="col-4 m-0 p-0">
                <div class="d-flex flex-row justify-content-end ">
                  <button  mat-stroked-button class="border border-warning me-2">Edit</button>
                  <button mat-stroked-button class="border border-success">Edit All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-4 m-0 p-0">
                        <span class="text-muted text-uppercase">Price guests pay per night:</span>
                      </div>
                      <div class="col-8 m-0 p-0">
                        <div class="d-flex flex-row justify-content-end">
                          <div class="">
                            <span class="text-success">100.000 vnd</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="">5.00% Staywithme.com commisson</span>
                      </div>
                      <div class="col-6 m-0 p-0">
                        <div class="d-flex flex-row justify-content-end">
                          <div class="">
                            <span class="">Your earnings (including taxes): <span class="text-danger"> 100.000
                                vnd</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Home rule  -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Home Rule</h4>
              </div>
              <div class="col-4 m-0 p-0">
                <div class="d-flex flex-row justify-content-end ">
                  <button mat-stroked-button class="border border-warning me-2">Edit</button>
                  <button mat-stroked-button class="border border-success">Edit All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">

                <div class="row w-100 m-0 p-0">
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Check-in</span>
                      </div>
                      <div class="col-6">
                        <span> 12:00</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Check-out</span>
                      </div>
                      <div class="col-6">
                        <span> 10:00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <span class="text-muted text-uppercase">allowed</span>
                      </div>
                      <div class="col-9">
                        <div class="row w-100 p-0 m-0">
                          <div class="col-3 p-0 m-0">Pet</div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- facility -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Facility</h4>
              </div>
              <div class="col-4 m-0 p-0">
                <div class="d-flex flex-row justify-content-end ">
                  <button mat-stroked-button class="border border-warning me-2">Edit</button>
                  <button mat-stroked-button class="border border-success">Edit All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Available Rooms</span>
                      </div>
                      <div class="col-6">
                        <span> 20</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Room Capacity</span>
                      </div>
                      <div class="col-6">
                        <span> 10</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Service  -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Service</h4>
              </div>
              <div class="col-4 m-0 p-0">
                <div class="d-flex flex-row justify-content-end ">
                  <button mat-stroked-button class="border border-warning me-2">Edit</button>
                  <button mat-stroked-button class="border border-success">Edit All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Available Rooms</span>
                      </div>
                      <div class="col-6">
                        <span> 20</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Room Capacity</span>
                      </div>
                      <div class="col-6">
                        <span> 10</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
