<div class="container">
  <form>
    <div class="row w-100 justify-content-center">
      <div class="col-8 ">
        <h2 class="my-4">Overview Homestay</h2>
        <div class="d-flex  flex-column">
          <!-- Step 1 -->
          <div class="input-content basic-information card">
            <div class="add-input card-body pb-0 pt-3">
              <div class="row">
                <div class="col w-100">
                  <div class="row">
                    <div class="col-1 p-0 d-flex justify-content-center">
                      <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="col-10">
                      <p>Step 1</p>
                      <h5>Property details</h5>
                      <p class="text-break">The basics. Add your homestay name, address, facilities and more.</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center p-0">
                      <button mat-fab class="text-primary bg-body shadow-0 overflow-hidden" matRipple
                        matRippleColor="darkgray" routerLink="../RegisterHomestay">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- Step 2 -->
          <div class="input-content basic-information card">
            <div class="add-input card-body pb-0 pt-3">
              <div class="row">
                <div class="col w-100">
                  <div class="row">
                    <div class="col-1 p-0 d-flex justify-content-center">
                      <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="col-9">
                      <p>Step 2</p>
                      <h5>Images</h5>
                      <p class="text-break">Share some images of your homestay so passengers know what to expect.</p>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center p-0">
                      <button mat-raised-button color="primary" class="px-1 w-100" routerLink="../Image">Add Image</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- Step 3 -->
          <div class="input-content basic-information card">
            <div class="add-input card-body pb-0 pt-3">
              <div class="row">
                <div class="col w-100">
                  <div class="row">
                    <div class="col-1 p-0 d-flex justify-content-center">
                      <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="col-10">
                      <p>Step 3</p>
                      <h5>Price</h5>
                      <p class="text-break">Set the price per night for this homestay</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center p-0">
                      <button mat-fab class="text-primary bg-body shadow-0 overflow-hidden" matRipple
                        matRippleColor="darkgray" routerLink="../Price">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>

    </div>
  </form>
</div>
