<div class="text-center nav-items">
  <ul>

    <div class="pb-5">
      <li>
        <a href="#">
          <h2>Our Work</h2>
        </a>
      </li>
      <p>Take a look at our marvelous creations</p>
    </div>
    <div class="pb-5">
      <li>
        <a href="#">
          <h2>Services</h2>
        </a>
      </li>
      <p>Learn more about what we can do for you</p>
    </div>
    <div class="pb-5">
      <li>
        <a href="#">
          <h2 class="sidebar-last-item">Contact</h2>
        </a>
      </li>
      <p>Get in touch today. Let's make some magic</p>
    </div>
    <div class="pb-5">
      <li>
        <a href="#">
          <h2 class="sidebar-first-item">About</h2>
        </a>
      </li>
      <p>Behind the brand // Meet the team</p>
    </div>
  </ul>
</div>
