<div class="container">

  <!-- <mat-stepper linear #stepper> -->
  <mat-stepper #stepper>
    <!-- Basic Information -->
    <mat-step editable>
      <form>
        <ng-template matStepLabel>Basic Information</ng-template>
        <h2 class="mb-3">Basic Information</h2>

        <div class="row w-100">
          <div class="col-xxl-7">
            <div class="input-content basic-information card">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col">
                    <div class="mb-5">
                      <div class="mb-3">
                        <h6 class="mb-0">Homestay's Name <span class="text-danger">*</span></h6>
                        <input type="text" name="homestayNameInput" class="form-control" required mdbValidate>
                      </div>
                      <div class="mb-3">
                        <h6 class="mb-0">Address <span class="text-danger">*</span></h6>
                        <input type="text" name="homstayAddressInput" class="form-control" required mdbValidate>
                      </div>
                      <div class="mb-3 city-select">
                        <h6 class="mb-0">City <span class="text-danger">*</span></h6>
                        <mat-form-field appearance="outline" class="w-100 select-form">
                          <mat-select value="city1">
                            <mat-option value="city1">Ha Noi</mat-option>
                            <mat-option value="city2">Da Nang</mat-option>
                            <mat-option value="city3">Ho Chi Minh</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-reset" mat-raised-button type="reset">Reset</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Next</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-1 d-none d-xl-block"></div>

          <div class="col-xxl-4 d-none d-xl-block">
            <div class="input-content card w-100 basic-information">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                  <div class="col-11">
                    <div class="d-flex flex-column">
                      <h5 class="text-break mb-4">What needs to be included in my address?</h5>
                      <div>
                        <ul class="mb-0">
                          <li><span class="text-break">This name will be seen by passenger when they search for a place
                              to stay.</span> </li>
                          <li><span class="text-break">Include both your street name and number for the entire
                              property</span> </li>
                          <li><span class="text-break">Correctly spell the street name</span> </li>
                          <li><span class="text-break">Use the physical address of the property, not your office or home
                              address</span> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </form>
    </mat-step>
    <!-- Basic Information -->

    <!-- Facility -->
    <mat-step editable>
      <ng-template matStepLabel>Facility</ng-template>
      <h2 class="mb-3">What can pasengers use at your homestay?</h2>
      <div class="row w-100">
        <div class="col-xxl-7">
          <div class="input-content basic-information card">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col">
                  <h5 class="mb-2">Common Facility</h5>

                  <!-- TV -->
                  <div class="row mb-2">
                    <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center"><i
                        class="fas fa-tv"></i></div>
                    <div class="col-xxl-4 d-flex align-items-center">
                      <span>TV</span>
                    </div>
                    <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                      <mat-checkbox color="primary" formControlName="tv"></mat-checkbox>
                    </div>
                    <div class="col-xxl-5 ">
                      <div class="col-input">
                        <input name="amount" type="number" pattern="[0~9]*" min="1" formControlName="inputTv"
                          class="form-control" matInput placeholder="Amount" />
                      </div>
                    </div>
                    <div class="col-xxl-1"></div>
                  </div>
                  <!-- TV -->

                  <!-- Bed -->
                  <div class="row mb-2">
                    <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center"><i
                        class="fas fa-tv"></i></div>
                    <div class="col-xxl-4 d-flex align-items-center">
                      <span>Bed</span>
                    </div>
                    <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                      <mat-checkbox color="primary" formControlName="tv"></mat-checkbox>
                    </div>
                    <div class="col-xxl-5 ">
                      <div class="col-input">
                        <input name="amount" type="number" pattern="[0~9]*" min="1" formControlName="inputTv"
                          class="form-control" matInput placeholder="Amount" />
                      </div>
                    </div>
                    <div class="col-xxl-1"></div>
                  </div>
                  <!-- Bed -->
                  <br>
                  <hr>

                  <!-- Additional Facility -->
                  <h5 class="mb-2">Additional Facility</h5>
                  <div class="additional-facility">
                    <div>
                      <div class="row mb-2">
                        <div class="col-xxl-1 d-flex align-items-center justify-content-center p-0"><i
                            class="fa-solid fa-plus"></i></div>
                        <div class="col-xxl-4 ">
                          <input name="newFacility" type="text" class="form-control" placeholder="New Facility" />
                        </div>
                        <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                          <mat-checkbox color="primary" formControlName="tv"></mat-checkbox>
                        </div>
                        <div class="col-xxl-5 ">
                          <div class="col-input">
                            <input name="amount" type="number" pattern="[0~9]*" min="1" formControlName="inputTv"
                              class="form-control" matInput placeholder="Amount" />
                          </div>
                        </div>
                        <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center click rounded-2"
                          matRipple>
                          <i class="fa-solid fa-xmark"></i>
                        </div>
                      </div>
                    </div>

                    <div class="click mb-2 rounded-3 btn-add-facility w-50 d-flex align-items-center" matRipple>
                      <div class="row w-100" >
                        <div class="col-xxl-2 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-8 d-flex align-items-center  ">
                          <h6 class="m-0">Add Facility</h6>
                        </div>
                      </div>
                    </div>

                  </div>



                  <!-- Button -->
                  <br>
                  <hr>
                  <div class="add-btn d-flex flex-row ">
                    <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                    <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Next</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 d-none d-xl-block"></div>

        <div class="col-xxl-4 d-none d-xl-block">
          <div class="input-content card w-100 basic-information">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col-1">
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="col-11">
                  <div class="d-flex flex-column">
                    <h5 class="text-break mb-4">What needs to be included in my address?</h5>
                    <div>
                      <ul class="mb-0">
                        <li><span class="text-break">This name will be seen by passenger when they search for a place
                            to stay.</span> </li>
                        <li><span class="text-break">Include both your street name and number for the entire
                            property</span> </li>
                        <li><span class="text-break">Correctly spell the street name</span> </li>
                        <li><span class="text-break">Use the physical address of the property, not your office or home
                            address</span> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
