<div class="container">

  <!-- <mat-stepper linear #stepper> -->
  <mat-stepper #stepper>
    <!-- Basic Information -->
    <mat-step editable [stepControl]="informationFormGroup">
      <form [formGroup]="informationFormGroup" (ngSubmit)="informationForm()" #formone="ngForm">
        <ng-template matStepLabel>Basic Information</ng-template>
        <h2 class="mb-3">Basic Information</h2>

        <div class="row w-100">
          <div class="col-xxl-7">
            <div class="input-content basic-information card">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col">
                    <div class="mb-5">

                      <div class="mb-3">
                        <h6 class="mb-0">Homestay's Name <span class="text-danger">*</span></h6>
                        <input type="text" name="homestayNameInput" class="form-control" required mdbInput mdbValidate
                          formControlName="homestayName">
                      </div>

                      <div class="mb-3">
                        <h6 class="mb-0">Total Room <span class="text-danger">*</span></h6>
                        <input type="number" name="homestayTotalRoomInput" class="form-control" required mdbInput
                          mdbValidate formControlName="number">
                      </div>
                      <div class="mb-3">
                        <h6 class="mb-0">Address <span class="text-danger">*</span></h6>
                        <input type="text" name="homstayAddressInput" class="form-control" required mdbInput mdbValidate
                          formControlName="address">
                      </div>
                      <div class="mb-3 city-select">
                        <h6 class="mb-0">City <span class="text-danger">*</span></h6>
                        <mat-form-field appearance="outline" class="w-100 select-form">
                          <mat-select formControlName="city" name="cityInput" required>
                            <mat-option value="Hanoi">Ha Noi</mat-option>
                            <mat-option value="danang">Da Nang</mat-option>
                            <mat-option value="HCM">Ho Chi Minh</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-reset" mat-raised-button type="reset">Reset</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Continue</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-1 d-none d-xl-block"></div>

          <div class="col-xxl-4 d-none d-xl-block">
            <div class="input-content card w-100 basic-information">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                  <div class="col-11">
                    <div class="d-flex flex-column">
                      <h5 class="text-break mb-4">What needs to be included in my address?</h5>
                      <div>
                        <ul class="mb-0">
                          <li><span class="text-break">This name will be seen by passenger when they search for a place
                              to stay.</span> </li>
                          <li><span class="text-break">Include both your street name and number for the entire
                              property</span> </li>
                          <li><span class="text-break">Correctly spell the street name</span> </li>
                          <li><span class="text-break">Use the physical address of the property, not your office or home
                              address</span> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </form>
    </mat-step>
    <!-- Basic Information -->

    <!-- Facility -->
    <mat-step editable [stepControl]="facilityFormGroup">
      <ng-template matStepLabel>Facility</ng-template>
      <h2 class="mb-3">What can pasengers use at your homestay?</h2>

      <div class="row w-100">
        <div class="col-xxl-7">
          <div class="input-content basic-information card">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col">

                  <h5 class="mb-2">Common Facility</h5>
                  <form [formGroup]="facilityFormGroup" (ngSubmit)="facilityForm()" #formtwo="ngForm">
                    <!-- TV -->
                    <div class="row mb-2">
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center"><i
                          class="fas fa-tv"></i></div>
                      <div class="col-xxl-4 d-flex align-items-center">
                        <span>TV</span>
                      </div>
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="tv"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 ">

                      </div>
                      <div class="col-xxl-1"></div>
                    </div>
                    <!-- TV -->

                    <!-- Wifi -->
                    <div class="row mb-2">
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center"><i
                          class="fas fa-tv"></i></div>
                      <div class="col-xxl-4 d-flex align-items-center">
                        <span>Wifi</span>
                      </div>
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="wifi"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 ">

                      </div>
                      <div class="col-xxl-1"></div>
                    </div>
                    <!-- Wifi -->
                    <br>
                    <hr>
                  </form>


                  <!-- Additional Facility -->
                  <h5 class="mb-2">Additional Facility</h5>
                  <div class="additional-facility">
                    <div *ngFor="let value of newFacility; let i = index">
                      <div class="row mb-2">
                        <div class="col-xxl-1 d-flex align-items-center justify-content-center p-0"><i
                            class="fa-solid fa-plus"></i></div>
                        <div class="col-xxl-4 ">
                          <input name="newFacility" type="text" class="form-control" placeholder="New Facility"
                            [(ngModel)]="value.name" autocomplete="off" name="value{{i}}" />
                        </div>
                        <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                          <mat-checkbox color="primary" [(ngModel)]="value.status" name="value{{i}}"></mat-checkbox>
                        </div>

                        <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center click rounded-2"
                          matRipple (click)="removeFacility(i)">
                          <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="col-xxl-5 ">

                        </div>
                      </div>
                    </div>

                    <div class="click mb-2 rounded-3 btn-add-facility w-50 d-flex align-items-center" matRipple
                      (click)="addFacility()">
                      <div class="row w-100">
                        <div class="col-xxl-2 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-8 d-flex align-items-center  ">
                          <h6 class="m-0"> Add Facility</h6>
                        </div>
                      </div>
                    </div>

                  </div>



                  <!-- Button -->
                  <form [formGroup]="facilityFormGroup" (ngSubmit)="facilityForm()" #formtwo="ngForm">
                    <br>
                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Continue</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 d-none d-xl-block"></div>

        <div class="col-xxl-4 d-none d-xl-block">
          <div class="input-content card w-100 basic-information">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col-1">
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="col-11">
                  <div class="d-flex flex-column">
                    <h5 class="text-break mb-4">What needs to be included in my address?</h5>
                    <div>
                      <ul class="mb-0">
                        <li><span class="text-break">This name will be seen by passenger when they search for a place
                            to stay.</span> </li>
                        <li><span class="text-break">Include both your street name and number for the entire
                            property</span> </li>
                        <li><span class="text-break">Correctly spell the street name</span> </li>
                        <li><span class="text-break">Use the physical address of the property, not your office or home
                            address</span> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </mat-step>
    <!-- Facility -->

    <!-- House Rules -->
    <mat-step editable>
      <ng-template matStepLabel>House Rules</ng-template>
      <h2 class="mb-3">House Rules</h2>
      <form [formGroup]="houseRuleFormGroup" (ngSubmit)="houseRuleForm()" #formthree="ngForm">
        <div class="row w-100">
          <div class="col-xxl-7">
            <div class="input-content basic-information card">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col">
                    <div class="mb-5">
                      <div class="row mb-2">
                        <div class="col-xxl-10">
                          <span><i class="fa-regular fa-heart"></i> Smoking allowed</span>
                        </div>
                        <div class="col-xxl-2">
                          <mat-slide-toggle formControlName="smoking" name="smokingInput"></mat-slide-toggle>
                        </div>
                      </div>

                      <div class="row mb-2">
                        <div class="col-xxl-10">
                          <span><i class="fa-regular fa-heart"></i> Pet allowed</span>
                        </div>
                        <div class="col-xxl-2">
                          <mat-slide-toggle formControlName="pet" name="petInput"></mat-slide-toggle>
                        </div>
                      </div>
                    </div>


                    <hr>
                    <!-- Checkin - Check out -->

                    <div>
                      <div class="row">
                        <div class="col-xxl-6 city-select">
                          <h6 class="mb-0">Check-in <span class="text-danger">*</span></h6>
                          <mat-form-field appearance="outline" class="w-100 select-form">
                            <mat-select name="check-in" formControlName="checkIn">
                              <mat-option value="12">12:00</mat-option>
                              <mat-option value="13">13:00</mat-option>
                              <mat-option value="14">14:00</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-xxl-6 city-select">
                          <h6 class="mb-0">Check-out <span class="text-danger">*</span></h6>
                          <mat-form-field appearance="outline" class="w-100 select-form">
                            <mat-select name="check-out" formControlName="checkOut">
                              <mat-option value="111">11:00</mat-option>
                              <mat-option value="10">10:00</mat-option>
                              <mat-option value="12">12:00</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <br>
                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Continue</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-1 d-none d-xl-block"></div>

          <div class="col-xxl-4 d-none d-xl-block">
            <div class="input-content card w-100 basic-information">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                  <div class="col-11">
                    <div class="d-flex flex-column">
                      <h5 class="text-break mb-4">What if my house rules change?</h5>
                      <div>
                        <span class="text-break">You can easily customize these house rules later, and you can set
                          additional house rules on the Policies page of the Extranet after completing
                          registration.</span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </form>

    </mat-step>

    <!-- Service -->
    <mat-step editable>
      <ng-template matStepLabel>Service</ng-template>
      <h2 class="mb-3">What can pasengers use service at your homestay?</h2>

      <div class="row w-100">
        <div class="col-xxl-7">
          <div class="input-content basic-information card">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col">
                  <h5 class="mb-2">Common Service</h5>
                  <form [formGroup]="serviceFormGroup" (ngSubmit)="serviceForm()" #formour="ngForm">

                    <!-- breakfast -->
                    <div class="row mb-2">
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center"><i
                          class="fas fa-tv"></i></div>
                      <div class="col-xxl-4 d-flex align-items-center">
                        <span>Breakfast</span>
                      </div>
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="breakfast" name="breakfast"
                          (change)="enableInputBreakfast()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 ">
                        <div class="col-input">
                          <input name="breakfastInputt" type="number" pattern="[0~9]*" min="1" class="form-control"
                            matInput placeholder="Price" formControlName="breakfastPrice" />
                        </div>
                      </div>
                      <div class="col-xxl-1"></div>
                    </div>
                    <!-- breakfast -->

                    <!-- Swimming Service -->
                    <div class="row mb-2">
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center"><i
                          class="fas fa-tv"></i></div>
                      <div class="col-xxl-4 d-flex align-items-center">
                        <span>wimming Service</span>
                      </div>
                      <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="swimming" name="Swimming"
                          (change)="enableInputSwimming()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 ">
                        <div class="col-input">
                          <input name="SwimmingInputt" type="number" pattern="[0~9]*" min="1" class="form-control"
                            matInput placeholder="Price" formControlName="swimmingPrice" />
                        </div>
                      </div>
                      <div class="col-xxl-1"></div>
                    </div>

                  </form>
                  <br>
                  <hr>

                  <!-- Additional Service -->
                  <h5 class="mb-2">Additional Service</h5>
                  <div class="additional-facility">
                    <div *ngFor="let value of newService; let i = index">
                      <div class="row mb-2">
                        <div class="col-xxl-1 d-flex align-items-center justify-content-center p-0"><i
                            class="fa-solid fa-plus"></i></div>
                        <div class="col-xxl-4 ">
                          <input name="newService" type="text" class="form-control" placeholder="New Service"
                            [(ngModel)]="value.name" autocomplete="off" name="valueName{{i}}" />
                        </div>
                        <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center">
                          <mat-checkbox color="primary" [(ngModel)]="value.status"
                            name="valueStatus{{i}}"></mat-checkbox>
                        </div>
                        <div class="col-xxl-5 ">
                          <div class="col-input">
                            <input name="price{{i}}" type="number" autocomplete="off" [disabled]="!value.status"
                              pattern="[0~9]*" min="1" class="form-control" matInput placeholder="Price"
                              [(ngModel)]="value.price" />
                          </div>
                        </div>
                        <div class="col-xxl-1 d-flex align-items-center p-0 justify-content-center click rounded-2"
                          matRipple (click)="removeService(i)">
                          <i class="fa-solid fa-xmark"></i>
                        </div>

                      </div>
                    </div>

                    <div class="click mb-2 rounded-3 btn-add-facility w-50 d-flex align-items-center" matRipple
                      (click)="addService()">
                      <div class="row w-100">
                        <div class="col-xxl-2 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-8 d-flex align-items-center  ">
                          <h6 class="m-0">Add Service</h6>
                        </div>
                      </div>
                    </div>

                  </div>



                  <form  >
                    <!-- Button -->
                    <br>
                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button type="submit" routerLink="../Overview">Continue</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 d-none d-xl-block"></div>

        <div class="col-xxl-4 d-none d-xl-block">
          <div class="input-content card w-100 basic-information">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col-1">
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="col-11">
                  <div class="d-flex flex-column">
                    <h5 class="text-break mb-4">What needs to be included in my address?</h5>
                    <div>
                      <ul class="mb-0">
                        <li><span class="text-break">This name will be seen by passenger when they search for a place
                            to stay.</span> </li>
                        <li><span class="text-break">Include both your street name and number for the entire
                            property</span> </li>
                        <li><span class="text-break">Correctly spell the street name</span> </li>
                        <li><span class="text-break">Use the physical address of the property, not your office or home
                            address</span> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </mat-step>
    <!-- Service -->


  </mat-stepper>
</div>
