.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.password,
.username {
  display: flex;
  justify-content: center;
  align-items: center;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

.login-button-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;

  button {
    height: 45px;
  }

  .login-button {
    font-size: large;
  }

}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #FEF001, #FFCE03, #FD9A01, #FD6104, #FF2C05);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #FEF001, #FFCE03, #FD9A01, #FD6104, #FF2C05);
}

.gradient-text-1 {
  /* fallback for old browsers */
  background: #dc2743;

  /* Chrome 10-25, Safari 5.1-6 */
  background:-webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
  /* fallback for old browsers */
  background: #dc2743;

  /* Chrome 10-25, Safari 5.1-6 */
  background:-webkit-linear-gradient(90deg, #f09433 ,#e6683c ,#dc2743 ,#cc2366,#bc1888 );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(90deg, #f09433 ,#e6683c ,#dc2743 ,#cc2366,#bc1888 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.gmail-button {
  color: white !important;
}
.login-card{
  background: linear-gradient(150deg, #FFE753 , #FFE367,    #FFF7A7 , #FFAD5E  );
}
.logo{
  width: 40%;
}
