<div class="reg-input">
  <mat-form-field class="input-username w-100" appearance="outline">
    <mat-label>Day of Birth</mat-label>
    <input matInput  [(ngModel)]="dob" [ngModelOptions]="{standalone: true}"  name="txtDob"
      id="date" [matDatepicker]="picker" onfocus="(this.type='date')">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-icon matPrefix><i class="fa-solid fa-calendar-days"></i></mat-icon>

  </mat-form-field>
  {{dob}}
</div>
